<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

<extension point="org.jkiss.dbeaver.dataSourceProvider">

        <!-- H2GIS driver -->
        <datasource
                class="org.orbisgis.h2gis.H2GIS200DataSourceProvider"
                description="%datasource.h2gis.description"
                id="h2gis"
                parent="generic"
                label="H2GIS"
                icon="icons/h2gis_icon.png"
                dialect="h2">
            <drivers managable="true">

                <driver
                    id="h2gis_embedded_2_0_0"
                    label="H2GIS Embedded 2.0.0"
                    icon="icons/h2gis_icon.png"
                    iconBig="icons/h2gis_icon_big.png"
                    category="H2"
                    class="org.h2.Driver"
                    sampleURL="jdbc:h2:{file}"
                    webURL="http://www.h2gis.org/"
                    embedded="true"
                    description="H2GIS Embedded"
                    categories="spatial,sql,embedded">

                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2/2.0.201-SNAPSHOT/h2-2.0.201-20211115.092925-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis/2.0.0-SNAPSHOT/h2gis-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-api/2.0.0-SNAPSHOT/h2gis-api-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-network/2.0.0-SNAPSHOT/h2gis-network-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-osgi/2.0.0-SNAPSHOT/h2gis-osgi-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-test-utilities/2.0.0-SNAPSHOT/h2gis-test-utilities-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-utilities/2.0.0-SNAPSHOT/h2gis-utilities-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/postgis-jts/2.0.0-SNAPSHOT/postgis-jts-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/postgis-jts-osgi/2.0.0-SNAPSHOT/postgis-jts-osgi-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/cts/1.6.0-SNAPSHOT/cts-1.6.0-20211110.101439-1.jar"/>
                    <file type="jar" path="maven:/org.slf4j:slf4j-simple:1.7.20"/>
                    <file type="jar" path="maven:/org.slf4j:slf4j-api:1.7.20"/>
                    <file type="jar" path="maven:/org.orbisgis:poly2tri-core:0.1.2"/>
                    <file type="jar" path="maven:/org.locationtech.jts:jts-core:1.16.1"/>
                    <file type="jar" path="maven:/org.jgrapht:jgrapht-core:0.9.2"/>
                    <file type="jar" path="maven:/com.fasterxml.jackson.core:jackson-core:2.10.2"/>
                    <file type="jar" path="maven:/org.apache.commons:commons-compress:1.20"/>

                    <parameter name="query-get-active-db" value="SELECT SCHEMA()"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA = ?"/>
                    <parameter name="query-shutdown" value="shutdown"/>
                    <parameter name="omit-catalog" value="true"/>
                </driver>

		        <driver
                    id="h2gis_server_2_0_0"
                    label="H2GIS Server 2.0.0"
                    icon="icons/h2gis_icon.png"
                    iconBig="icons/h2gis_icon_big.png"
                    category="H2"
                    class="org.h2.Driver"
                    sampleURL="jdbc:h2:tcp://{host}[:{port}]/{database}"
                    defaultPort="9092"
                    webURL="http://www.h2gis.org/"
                    description="H2GIS Embedded"
                    categories="spatial,sql,server">

                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2/2.0.201-SNAPSHOT/h2-2.0.201-20211115.092925-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis/2.0.0-SNAPSHOT/h2gis-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-api/2.0.0-SNAPSHOT/h2gis-api-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-network/2.0.0-SNAPSHOT/h2gis-network-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-osgi/2.0.0-SNAPSHOT/h2gis-osgi-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-test-utilities/2.0.0-SNAPSHOT/h2gis-test-utilities-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/h2gis-utilities/2.0.0-SNAPSHOT/h2gis-utilities-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/postgis-jts/2.0.0-SNAPSHOT/postgis-jts-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/postgis-jts-osgi/2.0.0-SNAPSHOT/postgis-jts-osgi-2.0.0-20211115.133346-2.jar"/>
                    <file type="jar" path="https://oss.sonatype.org/content/repositories/snapshots/org/orbisgis/cts/1.6.0-SNAPSHOT/cts-1.6.0-20211110.101439-1.jar"/>
                    <file type="jar" path="maven:/org.slf4j:slf4j-simple:1.7.20"/>
                    <file type="jar" path="maven:/org.slf4j:slf4j-api:1.7.20"/>
                    <file type="jar" path="maven:/org.orbisgis:poly2tri-core:0.1.2"/>
                    <file type="jar" path="maven:/org.locationtech.jts:jts-core:1.16.1"/>
                    <file type="jar" path="maven:/org.jgrapht:jgrapht-core:0.9.2"/>
                    <file type="jar" path="maven:/com.fasterxml.jackson.core:jackson-core:2.10.2"/>
                    <file type="jar" path="maven:/org.apache.commons:commons-compress:1.20"/>

                    <parameter name="query-get-active-db" value="SELECT SCHEMA()"/>
                    <parameter name="query-set-active-db" value="SET SCHEMA = ?"/>
                    <parameter name="query-shutdown" value="shutdown"/>
                    <parameter name="omit-catalog" value="true"/>
                </driver>

            </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
                class="org.orbisgis.h2gis.data.H2GIS200ValueHandlerProvider"
                description="H2GIS 2.0.0 data types provider"
                id="org.orbisgis.h2gis.data.H2GIS200ValueHandlerProvider"
                label="H2GIS 2.0.0 data types provider">

            <datasource id="h2gis"/>

            <type name="GEOMETRY"/>

        </provider>
    </extension>

</plugin>
