<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="GroovyEditorMenu"
               label="Groovy editor">
            <command
                  commandId="org.orbisgis.ui.editor.groovy.editor.open">
            </command>
         </menu>
      </menuContribution>
	    <menuContribution allPopups="false" locationURI="toolbar:org.jkiss.dbeaver.groovy.output">
	        <separator name="additions" visible="true"/>
	        <command commandId="org.orbisgis.ui.editors.groovy.clearOutput"/>
	        <separator name="additions" visible="true"/>
           <separator name="additions" visible="true"/>
           <command commandId="org.orbisgis.ui.editors.groovy.stopProcess"/>
           <separator name="additions" visible="true"/>
	    </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands">

      <category id="org.orbisgis.ui.editors.groovy" name="Groovy editor commands"/>

      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Open a new editor"
            id="org.orbisgis.ui.editor.groovy.editor.open"
            name="Open editor"> </command>
      <command
            categoryId="org.orbisgis.ui.editors.groovy"
            description="Execute the script"
            id="org.orbisgis.ui.editors.groovy.execute.script"
            name="Execute script"> </command>
      <command
            categoryId="org.orbisgis.ui.editors.groovy"
            description="Execute the selection code"
            id="org.orbisgis.ui.editors.groovy.execute.selection"
            name="Execute selection"> </command>
      <command
            categoryId="org.orbisgis.ui.editors.groovy"
            description="Clear the script"
            id="org.orbisgis.ui.editors.groovy.clear"
            name="Clear script"> </command>
     <command
            categoryId="org.orbisgis.ui.editors.groovy"
            description="Delete all output groovy output (console)"
            id="org.orbisgis.ui.editors.groovy.clearOutput"
            name="Delete output content"> </command>
      <command
            categoryId="org.orbisgis.ui.editors.groovy"
            description="Stop the running process"
            id="org.orbisgis.ui.editors.groovy.stopProcess"
            name="Stop the running process"> </command>
      <command
              categoryId="org.orbisgis.ui.editors.groovy"
              description="List the current class paths"
              id="org.orbisgis.ui.editors.groovy.listClasspaths"
              name="List the current class paths"> </command>
      <command
              categoryId="org.orbisgis.ui.editors.groovy"
              description="Add directory to classPath"
              id="org.orbisgis.ui.editors.groovy.addDirectoryToClasspaths"
              name="Add directory to classPath"> </command>
      <command
              categoryId="org.orbisgis.ui.editors.groovy"
              description="Add jar to classPath"
              id="org.orbisgis.ui.editors.groovy.addJarToClasspath"
              name="Add jar to classPath"> </command>

   </extension>

   <extension point="org.eclipse.ui.commandImages">
	  <image commandId="org.orbisgis.ui.editor.groovy.editor.open" icon="icons/script_code.png"/>
      <image commandId="org.orbisgis.ui.editors.groovy.execute.script" icon="icons/execute.png"/>
      <image commandId="org.orbisgis.ui.editors.groovy.execute.selection" icon="icons/execute_selection.png"/>
      <image commandId="org.orbisgis.ui.editors.groovy.clear" icon="icons/erase.png"/>
	  <image commandId="org.orbisgis.ui.editors.groovy.clearOutput" icon="icons/erase.png"/>
      <image commandId="org.orbisgis.ui.editors.groovy.stopProcess" icon="icons/stop.png"/>
      <image commandId="org.orbisgis.ui.editors.groovy.listClasspaths" icon="icons/show_classpath.png"/>
      <image commandId="org.orbisgis.ui.editors.groovy.addDirectoryToClasspaths" icon="icons/folder_add.png"/>
	  <image commandId="org.orbisgis.ui.editors.groovy.addJarToClasspath" icon="icons/add_jar.png"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.orbisgis.ui.editors.groovy.handlers.OpenHandler"
            commandId="org.orbisgis.ui.editor.groovy.editor.open">
      </handler>
      <handler
            class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
            commandId="org.orbisgis.ui.editors.groovy.execute.script">
      </handler>
      <handler
              class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
              commandId="org.orbisgis.ui.editors.groovy.execute.selection">
      </handler>
      <handler
            class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
            commandId="org.orbisgis.ui.editors.groovy.clear">
      </handler>
      <handler
            class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
            commandId="org.orbisgis.ui.editors.groovy.clearOutput">
      </handler>
      <handler
              class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
              commandId="org.orbisgis.ui.editors.groovy.stopProcess">
      </handler>
      <handler
              class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
              commandId="org.orbisgis.ui.editors.groovy.listClasspaths">
      </handler>
      <handler
              class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
              commandId="org.orbisgis.ui.editors.groovy.addDirectoryToClasspaths">
      </handler>
      <handler
              class="org.orbisgis.ui.editors.groovy.handlers.GroovyEditorActionHandler"
              commandId="org.orbisgis.ui.editors.groovy.addJarToClasspath">
      </handler>
   </extension>

    <extension point="org.eclipse.ui.views">
        <view
                id="org.jkiss.dbeaver.groovy.output"
                class="org.orbisgis.ui.editors.groovy.GroovyOutputConsole"
                allowMultiple="true"
                restorable="true"
                name="Groovy Output"
				icon="icons/groovy_output.png"
		>
        </view>
    </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.orbisgis.ui.editors.groovy.GroovyEditor"
            extensions="groovy"
            id="org.orbisgis.ui.editors.groovy.GroovyEditor"
            name="Groovy editor">
         <contentTypeBinding
               contentTypeId="org.jkiss.dbeaver.sql">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.orbisgis.ui.editors.groovy.execute.script"
            contextId="org.orbisgis.ui.editors.groovy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Enter">
      </key>
      <key
            commandId="org.orbisgis.ui.editors.groovy.execute.selection"
            contextId="org.orbisgis.ui.editors.groovy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Enter">
      </key>
      <key
            commandId="org.orbisgis.ui.editors.groovy.clear"
            contextId="org.orbisgis.ui.editors.groovy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+DEL">
      </key>
      <key
              commandId="org.orbisgis.ui.editors.groovy.stopProcess"
              contextId="org.orbisgis.ui.editors.groovy"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="CTRL+W">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.orbisgis.ui.editors.groovy"
            name="Groovy context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>

</plugin>
